:host{
        // @include background;
        // @include fontStyles;
        background-color: #2F303A;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        color:white;
        font-family: 'Poppins';
}

.mainContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    gap: 4rem;

    .textContainer{
        display: flex;
        flex-direction: row;
        font-size: 4rem;
        font-family: 'Poppins';

        .fun{
            color: #b9216b;
        }
    }

    form{
        background-color: #202027;
        width: 30rem;
        display: flex;
        flex-direction: column;
        font-weight: bold;
        border-radius: 2rem;

        label{
            text-align: left;
        }

        input{
            background-color: #202027;
            border-color: #1762A7;
            width: 100%;
        }

        #submit{
        background-color: #1762A7;
        color: white;
        font-family: 'Poppins';
            :hover{
            background-color: #2180d8;
        }
            :focus{
            background-color: #2796ff;
        }
        }
    }
}

app-footer{
    bottom: 0rem;
}

// .backCircles{
//     display: flex;
//     flex-direction: row;
//     width: 100vw;
//     z-index: 0;
//     .circleOne{
//         width: 20rem;
//         height: 20rem;
//         border-radius: 50%;
//         background-color: #bc3a801a;
//         margin-bottom: 19rem;
//     }
//     .circleTwo{
//         width: 20rem;
//         height: 20rem;
//         border-radius: 50%;
//         background-color: #3457b21a;
//         margin-top: 2rem;
//     }
// }


@media(max-width:500px){
    :host{
        display: flex;
        flex-direction: column;
    }

    .mainContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .textContainer{
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: start;
        }
    }

}