<div class="mainContainer">
    <div class="textContainer">
        <p>Join the </p><p class="fun"> fun.</p>
    </div>
    <div class="formContainer">
        <form action="">
            <label for="name">Name:</label><br>
            <input type="text" name="name"><br><br>
            <label for="email">Email:</label><br>
            <input type="email" name="email"><br><br>
            <label for="password">Password:</label><br>
            <input type="password" name="password"><br><br>
            <input id="submit" type="submit" value="Join Now">
        </form>
    </div>
</div>

<!-- <div class="backCircles">
    <div class="circleOne"></div>
    <div class="circleTwo"></div>
</div> -->