<div class="mainContainer">
    <div class="textContainer">
        <p>Join the<span> fun.</span></p>
    </div>
    <div class="formContainer">
        <form action="">
            <label for="name">Name:</label>
            <input type="text" name="name"><br>
            <label for="email">Email:</label>
            <input type="email" name="email"><br>
            <label for="password">Password:</label>
            <input type="password" name="password"><br>
            <input id="submit" type="submit" value="Join Now">
        </form>
    </div>
</div>

<div class="backCircles">
    <div class="circleOne"></div>
    <div class="circleTwo"></div>
</div>

<app-footer></app-footer>