:host{
    background-color: #202027;
    color: white;
    font-family: 'Poppins';  
    // display: grid;
    // grid-template-columns: 15, 1fr;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    position: absolute;
    width: 100vw;
    height: 8vh;

        p{
            font-weight: bold;
            cursor: pointer;
        }
}

.twitterContainer, .fbContainer{
    display: flex;
    flex-direction: row ;
    align-items: center;
    gap: 0.2rem;
}

.groupLinks{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}