<div class="mainContainer">
    <div class="leftContainer">
        <p class="discoverText">Discover new music</p>
        <div class="iconsContainer">
            <div class="chartsContainer"><img src="../../assets/microphone.svg" alt="Microphone picture">
                <p class="iconText">Charts</p>
            </div>
            <div class="albumsContainer"><img src="../../assets/albums.svg" alt="Albums picture">
                <p class="iconText">Albums</p>    
            </div>
            <div class="moreContainer"><img src="../../assets/more.svg" alt="More picture">
                <p class="iconText">More</p>
            </div>
        </div>
        <p class="smallText">By joining you can benefit by listening to the latest albums released.</p>
    </div>
    <div class="rightContainer">
        <img class="coversImage"src="../../assets/covers.jpg" alt="Pictures of album covers">
    </div>
</div>

<app-footer></app-footer>